---
import Banner88x31 from "./Banner88x31.astro";
---
<div class="border bannerDiv">
    <div class="banners">
        <Banner88x31
                link="https://catboy.page/"
                imgsrc="/images/catboybinary.png"
        />
        <Banner88x31
                link="https://jsopn.com/?glunging=true"
                imgsrc="https://jsopn.com/images/88x31/button.gif"
        />
        <Banner88x31
                link="https://senko.dev/"
                imgsrc="https://senko.dev/banners/senko.gif"
        />
        <Banner88x31
                link="https://otomir23.me/"
                imgsrc="https://otomir23.me/88x31.png"
        />
        <Banner88x31
                link="https://nikableh.moe"
                imgsrc="https://nikableh.moe/88x31.png"
        />
        <Banner88x31
                link="https://archlinux.org/"
                imgsrc="/images/arch.gif"
        />
        <Banner88x31
                link="https://godotengine.org"
                imgsrc="/images/godot.png"
        />
        <Banner88x31
                link="https://astro.build/"
                imgsrc="/images/astro.png"
        />
        <Banner88x31
                link="https://steamcommunity.com/id/catboybinary/"
                imgsrc="/images/steam.gif"
        />
        <Banner88x31 link="" imgsrc="/images/bisexual.gif" />
        <Banner88x31 link="" imgsrc="/images/anythingbut.gif" />
        <Banner88x31 link="" imgsrc="/images/win2k.png" />
    </div>
</div>