---
import Button from "./Button.astro";
---
<div class="links border">
    <h2 style="text-align: center;">my socials</h2>
    <Button
            link="https://twitter.com/catboybinary"
            colorA="#1c9bf0"
            colorB="#69deff">twitter (18+)</Button
    >
    <Button
            link="https://steamcommunity.com/id/catboybinary/"
            colorA="#C5C3C0"
            colorB="#5C7494">steam</Button
    >
    <Button
            link="https://www.twitch.tv/catboybinary"
            colorA="#9146ff"
            colorB="#9146ff">twitch</Button
    >
    <Button
            link="https://www.youtube.com/@catboybinary"
            colorA="#ff0033"
            colorB="#ff296d">youtube</Button
    >
    <Button
            link="https://t.me/catboybinary"
            colorA="#25c6f0"
            colorB="#1d83cc">telegram</Button
    >
    <Button
            link="https://github.com/catboybinary"
            colorA="#CFCFCF"
            colorB="#888888">github</Button
    >
    <Button
            link="https://www.curseforge.com/members/catboybinary/projects"
            colorA="#fd8b38"
            colorB="#cc2e17">curseforge</Button
    >
    <Button
            link="https://modrinth.com/user/catboybinary"
            colorA="#1ced89"
            colorB="#14cb47">modrinth</Button
    >
</div>