---
import Button from "./Button.astro";
---
<div class="links border">
    <h2 style="text-align: center;">webring</h2>
    <Button
            link="https://webring.otomir23.me/catboybinary/prev"
            colorA="#DA344C"
            colorB="#DB3B8C"><<< prev</Button
    >
    <Button
            link="https://webring.otomir23.me/catboybinary/next"
            colorA="#DB3B8C"
            colorB="#E73CB6">next >>></Button
    >
</div>