---
import background from "../assets/background.svg";

import Webring from "./Webring.astro";
import Banners from "./Banners.astro";
import Socials from "./Socials.astro";
import Info from "./Info.astro";
---

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <div id="hero" class="border">
            <Info/>
            <Socials/>
            <Webring/>
            <Banners/>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const pronounsList = ["she/her", "he/him"];
            const pronounsElement = document.querySelector(
                ".pronouns",
            ) as HTMLElement;
            const animTime: number = 1.75;

            let index: number = 0;
            let birthDate = new Date(Date.UTC(2006, 4, 4, 21, 0, 0));

            function updateLiveAge() {
                let now: Date = new Date();
                let ageInMs = now.getTime() - birthDate.getTime();
                let ageInYears = ageInMs / (1000 * 60 * 60 * 24 * 365.25);
                let ageElement: HTMLElement = document.getElementById(
                    "age",
                ) as HTMLElement;
                ageElement.textContent = ageInYears.toFixed(9);
            }

            function updatePronoun() {
                const pronounDiv = document.createElement("div");
                pronounDiv.style.webkitTextFillColor = "#e0377b";
                pronounDiv.style.animation = animTime + "s linear slideUp";
                pronounDiv.textContent =
                    pronounsList[index] +
                    "\n" +
                    pronounsList[(index + 1) % pronounsList.length];

                if (pronounsElement.firstChild) {
                    pronounsElement.removeChild(pronounsElement.firstChild);
                }

                pronounsElement.appendChild(pronounDiv);
                index = (index + 1) % pronounsList.length; // Cycle through pronouns
            }

            // Update every 2 seconds (same as CSS animation duration)
            setInterval(updatePronoun, animTime * 1000);
            setInterval(updateLiveAge, 1);

            updatePronoun(); // Run initially
            updateLiveAge();
        });
    </script>
</div>
