---
import background from "../assets/background.svg";
import anythingBut from "../assets/anythingbut.gif";
import arch from "../assets/arch.gif";
import bi from "../assets/bisexual.gif";
import godot from "../assets/godot.png";
import steam from "../assets/steam.gif";
import nikableh from "../assets/nikableh.png";

import Social from "./Social.astro";
import CodeElement from "./CodeElement.astro";
import Banner88x31 from "./Banner88x31.astro";

let birthDate = new Date(Date.UTC(2006, 4, 4, 21, 0, 0));
let now: Date = new Date();
let ageInMs = now.getTime() - birthDate.getTime();
let ageInYears = ageInMs / (1000 * 60 * 60 * 24 * 365.25);
let age = ageInYears.toFixed(9);
---

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <div id="hero" class="border">
            <div>
                <h2>
                    hi, i'm
                    <CodeElement>catboybinary</CodeElement>
                </h2>
                <h2>
                    i am
                    <CodeElement preid="age">{age}</CodeElement>
                    years old
                </h2>
                <h2>
                    my pronouns are
                    <CodeElement preclass="pronouns" />
                </h2>
                <h2>
                    occupations:
                    <CodeElement>java programmer</CodeElement>
                    <CodeElement>game developer</CodeElement>
                    :3
                </h2>
            </div>
            <div class="links border">
                <h2 style="text-align: center;">my socials</h2>
                <Social
                    link="https://twitter.com/catboybinary"
                    colorA="#1c9bf0"
                    colorB="#69deff">twitter (18+)</Social
                >
                <Social
                    link="https://steamcommunity.com/id/catboybinary/"
                    colorA="#C5C3C0"
                    colorB="#5C7494">steam</Social
                >
                <Social
                    link="https://www.twitch.tv/catboybinary"
                    colorA="#9146ff"
                    colorB="#9146ff">twitch</Social
                >
                <Social
                    link="https://www.youtube.com/@catboybinary"
                    colorA="#ff0033"
                    colorB="#ff296d">youtube</Social
                >
                <Social
                    link="https://t.me/catboybinary"
                    colorA="#25c6f0"
                    colorB="#1d83cc">telegram</Social
                >
                <Social
                    link="https://github.com/catboybinary"
                    colorA="#CFCFCF"
                    colorB="#888888">github</Social
                >
                <Social
                    link="https://www.curseforge.com/members/catboybinary/projects"
                    colorA="#fd8b38"
                    colorB="#cc2e17">curseforge</Social
                >
                <Social
                    link="https://modrinth.com/user/catboybinary"
                    colorA="#1ced89"
                    colorB="#14cb47">modrinth</Social
                >
            </div>
            <div class="border bannerDiv">
                <div class="banners">
                    <Banner88x31
                        link="https://catboy.page/"
                        imgsrc="/images/catboybinary.png"
                    />
                    <Banner88x31
                        link="https://jsopn.com/?glunging=true"
                        imgsrc="https://jsopn.com/images/88x31/button.gif"
                    />
                    <Banner88x31
                        link="https://senko.dev/"
                        imgsrc="https://senko.dev/banners/senko.gif"
                    />
                    <Banner88x31
                        link="https://otomir23.me/"
                        imgsrc="https://otomir23.me/88x31.png"
                    />
                    <Banner88x31
                        link="https://nikableh.moe"
                        imgsrc="/images/nikableh.png"
                    />
                    <Banner88x31
                        link="https://archlinux.org/"
                        imgsrc="/images/arch.gif"
                    />
                    <Banner88x31
                        link="https://godotengine.org"
                        imgsrc="/images/godot.png"
                    />
                    <Banner88x31
                        link="https://astro.build/"
                        imgsrc="/images/astro.png"
                    />
                    <Banner88x31
                        link="https://steamcommunity.com/id/catboybinary/"
                        imgsrc="/images/steam.gif"
                    />
                    <Banner88x31 link="" imgsrc="/images/bisexual.gif" />
                    <Banner88x31 link="" imgsrc="/images/anythingbut.gif" />
                </div>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const pronounsList = ["she/her", "he/him"];
            const pronounsElement = document.querySelector(
                ".pronouns",
            ) as HTMLElement;
            const animTime: number = 1.75;

            let index: number = 0;
            let birthDate = new Date(Date.UTC(2006, 4, 4, 21, 0, 0));

            function updateLiveAge() {
                let now: Date = new Date();
                let ageInMs = now.getTime() - birthDate.getTime();
                let ageInYears = ageInMs / (1000 * 60 * 60 * 24 * 365.25);
                let ageElement: HTMLElement = document.getElementById(
                    "age",
                ) as HTMLElement;
                ageElement.textContent = ageInYears.toFixed(9);
            }

            function updatePronoun() {
                const pronounDiv = document.createElement("div");
                pronounDiv.style.webkitTextFillColor = "#e0377b";
                pronounDiv.style.animation = animTime + "s linear slideUp";
                pronounDiv.textContent =
                    pronounsList[index] +
                    "\n" +
                    pronounsList[(index + 1) % pronounsList.length];

                if (pronounsElement.firstChild) {
                    pronounsElement.removeChild(pronounsElement.firstChild);
                }

                pronounsElement.appendChild(pronounDiv);
                index = (index + 1) % pronounsList.length; // Cycle through pronouns
            }

            // Update every 2 seconds (same as CSS animation duration)
            setInterval(updatePronoun, animTime * 1000);
            setInterval(updateLiveAge, 1);

            updatePronoun(); // Run initially
            updateLiveAge();
        });
    </script>
</div>
